<div class="container mx-auto px-4 py-8">
  <div class="flex flex-col gap-4 lg:flex-row">
    <article class="rounded-lg flex-1">
      <div class="px-4 py-5 sm:px-6">
        <h1 class="text-3xl font-bold">Digital Forge</h1>
        <p class="mt-2 text-sm">Software development, code snippets, and other digital projects</p>
      </div>
      <div class="px-4 py-5 sm:px-6">
        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
          <% @posts.each do |post| %>
            <%= link_to post_path(post.slug) do %>
              <div class="rounded-lg drop-shadow-lg p-4 bg-white dark:text-white dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-900 group">
                <div class="flex justify-between items-center">
                  <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200 group-hover:text-green-400"><%= post.title %></h2>
                  <time class="text-sm text-gray-600 dark:text-gray-400 group-hover:text-green-400" datetime="<%= post.published_on.strftime('%Y-%m-%d') %>">
                    <%= post.published_on.strftime('%B %d, %Y') %>
                  </time>
                </div>
                <p class="mt-3 text-gray-700 dark:text-gray-300"><%= truncate(post.description, length: 150) %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="px-4 py-5 sm:px-6">
        <%= paginate @posts %>
        <%= page_entries_info @posts, entry_name: "post" %>
      </div>
    </article>
  </div>
</div>
