<%= turbo_stream.update @turbo_frame_target do %>
  <% if @results.any? %>
    <div class="my-2">
      <% @results.each do |result| %>
        <%= link_to post_path(result[:slug]), data: { turbo_frame: "_top" } do %>
          <div class="flex items-center gap-2 border-[1px] dark:border-slate-600 rounded-md p-2 my-2 hover:bg-slate-100 dark:hover:bg-slate-700">
            <%= image_tag result[:featured_image], class: "flex-shrink-0 w-16 aspect-video object-cover rounded-md" %>
            <div class="min-w-0 flex-1 highlight space-y-2">
              <h3><%= result[:title].html_safe %></h3>
              <p><%= result[:description].html_safe %></p>
              <p><%= result[:body].html_safe %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-500">No results found for "<%= @search_param %>"</p>
  <% end %>
<% end %>