<!-- mobile header -->
<header class="bg-slate-900 text-white flex flex-col justify-center items-center">
  <%= link_to root_path, class: "my-4" do %>
    <div class="flex justify-center items-center gap-4">
      <%= image_tag "https://ik.imagekit.io/mthomps4/Avatars/portrait.png", class: "w-16 h-16 rounded-full border-[1px] border-slate-300" %>
      <div class="flex flex-col text-center">
        <h1 class="text-white font-bold text-3xl">Matthew Thompson</h1>
        <p class="text-xs text-slate-300"> Software Architect | Craftsman | Mentor</p>
      </div>
    </div>
  <% end %>
  <nav class="w-full bg-slate-900 py-4 px-2">
    <div class="max-w-5xl mx-auto flex justify-around items-center gap-6">
      <%= link_to "About", root_path, class: "text-slate-300 hover:text-green-400" %>
      <%= link_to "Blog", blog_path, class: "text-slate-300 hover:text-green-400" %>
      <%= link_to "Connect", connect_path, class: "text-slate-300 hover:text-green-400" %>
      <%= render "shared/dark_mode_toggle" %>
    </div>
  </nav>
</header>
<div class="w-full max-w-7xl mx-auto">
  <div class="w-full my-4 px-4">
    <%= render "shared/search_modal", show_full_bar: true %>
  </div>
</div>